body {
	background-color: #6af7cb;
}
table {
	font-family: inherit;
	border-collapse: collapse;
	width: 50%
}
th,td {
	border: 1px solid #004466;
	text-align: left;
	padding: 5px
}
tr:nth-child(odd) {
	background-color: #black
}
div > p {
	font-family: 'calibri';
	text-align: justify;
	margin: 10px 250px 10px 250px
}
h1 {font-family: unset;
	color: #051515;
	text-align: center;
}
h2 {font-family: sans-serif;
	color: #1e7b7b;
	text-align: center;
}
h3 {font-family: sans-serif; 
	color: #black;
	text-align: center;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
.sticky {
	position: sticky;
	top: 0;
	background-color: #336699
}